*{padding: 0px; margin: 0px; box-sizing: border-box;}
/* *,*::before, *::after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus, :active {outline: none;}
a :focus, a :active {outline: none;}
nav, footer, header, aside{display: block;}
html, body{height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%;}
input, button, textarea{font-family:inherit}
input ::-ms-clear{display: none;}
button{cursor: pointer;}
button ::-moz-focus-inner {padding: 0; border: 0;}
a, a :visited{text-decoration: none;}
a :hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1, h2, h3, h4, h5, h6{font-size: inherit; font-weight: inherit;}
body{font-family: Arial, Helvetica, sans-serif;} */

header{display: flex;
justify-content: flex-start;
align-items: center;
padding: 20 50px;
background-color: #fafdfd;}

.nav-title{ font-size: 20px;}
header li{list-style: none; display: inline-block; padding: 0 20px;}
header a{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    color: #000;}

.button{margin-left: 500px;}
.color{background-color:  #FF6336; color: #fafdfd;}
button{width: 77px; height: 45px;}

.wrapper{min-height: 100%;
display: flex;
flex-direction: column;
padding: 50px 20px;}

.container{max-width: 1440px;
margin: 0 auto;}
.content{flex: 1 1 auto;}
.advantages{padding: 50px 0px;}

.advantages__row{display: flex;
justify-content: space-between;}

.advantages__list li{list-style: none; display: inline-flex; margin: 10px; overflow: hidden;}


h2{width: 552px; height: 210px; top: 14px; font-size: 65px;}
h3{width: 471px; height: 140px; top: 14px; font-size: 25px; margin-top: 51px;}
h4{width: 369px; height: 25px; padding-top: 30px;}

.local__row{background-color: #FF9C7D; height: 455px; display: flex;
flex-direction: column; flex-wrap: wrap; align-items: center;}

.card{padding: 50px;}

.column{background-color: #FFF8E4; padding: 20px 0px 20px 0px; width: 1440px; height: 1033px;}
.column__title{text-align: center; font-size: 50px;}
.column__row{display: flex;  flex-wrap: wrap; justify-content: center; align-content: space-between;}
.column__columns{flex: 0 1 30%;}

.item__body{padding: 20px;}
.items__text{font-size: 18px;}
.items__title{font-size: 25px; line-height: 35px; }


.box{background-color: #E5E5E5;padding: 50px 0px 20px 0px; width: 1440px; height: 1033px;}
.box__flex{background-color: #C9E8F2;padding: 20px 0px 20px 0px; width: 1440px; height: 468px;}

p{font-size: 30px;text-align: left; padding-left: 20px;}
cite{font-size: 15px; text-align: left;}
.box__image{padding-right: 75px; padding-left: 60px;}



.box__style{background-color: 
    #DABC98; height: 332px; display: flex;
    flex-direction: column; flex-wrap: wrap; }

.style__image{padding-left: 10px;}




.style__text{width: 461px; height: 100px; font-size: 35px; line-height: 50px;}
.vector__text{font-weight: 400; font-size: 15px;}


.star__row{display: flex;
    justify-content: flex-start;}

.element{background-color: #E5E5E5; display: flex; flex-direction: column; justify-content: center; height: 1033px;}

/* .star__row{padding: 50px;} */



.aside{display: flex;
    justify-content: center;
    align-items: center;
    background-color: 
    #FF9C7D; height: 603px;}

.aside__row{flex-direction: column; justify-content: flex-end;}

.aside_color{background-color: #000; color: #fafdfd;}

    